<!DOCTYPE html>
<html>
  <head>
    <title>Redditclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <h3>The current user is:<%= current_user.username %></h3>
        <form action="<%= session_url %>" method="POST">
            <input 
            type="hidden"
            name="_method"
            value="delete">
            <input
            type="hidden"
            name="authenticity_token"
            value="<%= form_authenticity_token %>">
            <button type="submit">Log Out</button>
        </form>
        <a href="<%= new_sub_url %>">Create a new sub!</a>
        <a href="<%= subs_url %>">Subs index</a>


    <% else %>
      <a href="<%= new_user_url %>">Create User</a>
      <a href="<%= new_session_url %>">Log In</a>
    <% end %>



    <%= yield %>
  </body>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <%= error %>
    <% end  %>
  <% end %>

</html>
